/*general style form*/
.form-container {
    border: 1px solid #474747;
    background: #e6e6e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e6e6e6));
    background: -webkit-linear-gradient(top, #e3e3e3, #e6e6e6);
    background: -moz-linear-gradient(top, #e3e3e3, #e6e6e6);
    background: -ms-linear-gradient(top, #e3e3e3, #e6e6e6);
    background: -o-linear-gradient(top, #e3e3e3, #e6e6e6);
    background-image: -ms-linear-gradient(top, #e3e3e3 0%, #e6e6e6 100%);
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width: 300px;
    padding: 20px;
    width: 300px;
}

.form-field {
    border: 1px solid #333133;
    background: #fffcff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 8px;
    margin-bottom: 20px;
    width: 295px;
}

.form-field:focus {
    background: #fff;
    color: #000000;
}

.form-container h2 {
    text-shadow: #ffffff 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.form-title {
    margin-bottom: 3px;
    color: #000000;
    text-shadow: #ffffff 0 1px 0;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
}

.submit-button {
    border: 1px solid #363336;
    background: #8f8f8f;
    background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#8f8f8f));
    background: -webkit-linear-gradient(top, #616161, #8f8f8f);
    background: -moz-linear-gradient(top, #616161, #8f8f8f);
    background: -ms-linear-gradient(top, #616161, #8f8f8f);
    background: -o-linear-gradient(top, #616161, #8f8f8f);
    background-image: -ms-linear-gradient(top, #616161 0%, #8f8f8f 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #474747 0 1px 0;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.submit-button:hover {
    border: 1px solid #323330;
    text-shadow: #000000 0 1px 0;
    background: #c8e3f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c8e3f0));
    background: -webkit-linear-gradient(top, #d9d9d9, #c8e3f0);
    background: -moz-linear-gradient(top, #d9d9d9, #c8e3f0);
    background: -ms-linear-gradient(top, #d9d9d9, #c8e3f0);
    background: -o-linear-gradient(top, #d9d9d9, #c8e3f0);
    background-image: -ms-linear-gradient(top, #d9d9d9 0%, #c8e3f0 100%);
    color: #362a36;
}

.submit-button:active {
    text-shadow: #2d2e2c 0 1px 0;
    border: 1px solid #5f615c;
    background: #adb3a6;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e6da), to(#c8e3f0));
    background: -webkit-linear-gradient(top, #e0e6da, #adb3a6);
    background: -moz-linear-gradient(top, #e0e6da, #adb3a6);
    background: -ms-linear-gradient(top, #e0e6da, #adb3a6);
    background: -o-linear-gradient(top, #e0e6da, #adb3a6);
    background-image: -ms-linear-gradient(top, #e0e6da 0%, #adb3a6 100%);
    color: #fff;
}

/*--form authentication------------------------------------*/
.authenticationDiv form {
    margin: 20px auto;
}

.authenticationDiv form .submit {
    text-align: center;
}

/*----------------------------------------------------------*/
/*--little form authentication------------------------------------*/
.littleAuthenticationDiv form {
    background: linear-gradient(#f7f7f7 0%, #ececec 100%);
    margin: 20px auto;
}

.littleAuthenticationDiv form .submit {
    text-align: center;
}

.littleAuthenticationDiv form {
    max-width: 207px;
    width: 207px;
    min-width: 207px;
    border: none;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-radius: initial;
}

.littleAuthenticationDiv form h2 {
    display: none;
}

.littleAuthenticationDiv form input {
    width: 206px;
    height: 25px;
    margin-bottom: 5px;
}

.littleAuthenticationDiv form .submit input {
    width: 99px;
    height: 26px;
    margin-bottom: 0;
    background: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f2f2f2, #c2bec2);
    background-image: -moz-linear-gradient(top, #f2f2f2, #c2bec2);
    background-image: -ms-linear-gradient(top, #f2f2f2, #c2bec2);
    background-image: -o-linear-gradient(top, #f2f2f2, #c2bec2);
    background-image: linear-gradient(to bottom, #f2f2f2, #c2bec2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #3A3638;
    font-size: 12px;
    padding: 3px 12px 3px 12px;
    border: solid #8a8a8a 1px;
    text-decoration: none;
}

.littleAuthenticationDiv form .submit input:hover {
    background: #f2eff2;
    background-image: -webkit-linear-gradient(top, #f2eff2, #cacbcc);
    background-image: -moz-linear-gradient(top, #f2eff2, #cacbcc);
    background-image: -ms-linear-gradient(top, #f2eff2, #cacbcc);
    background-image: -o-linear-gradient(top, #f2eff2, #cacbcc);
    background-image: linear-gradient(to bottom, #f2eff2, #cacbcc);
    text-decoration: none;
}

/*----------------------------------------------------------*/
/*---form order---------------------------------------------*/

.order .order_form {
    margin: 20px auto;
}

.order .order_form .name {
    width: 45%;
}

.order .order_form .address {
    width: 50%;
}

.order .order_form .submit {
    text-align: center;
}

/*------------------------------------------------------------------*/

/*---brand form------------------------------------------------------*/

.brand_form .brand_form_table {
    margin: 15px auto;
}

.brand_form .brand_form_table p {
    margin: 0;
}

.brand_form .brand_form_table .brand {
    max-width: 173px;
}

.brand_form .brand_form_table .submit {
    text-align: center;
}

/*-----------------------------------------------------------------------*/

/*----discount form-----------------------------------------------------*/

.discount_form .discount_form_table {
    margin: 15px auto;
}

.discount_form .discount_form_table {
    margin: 0 auto;
}

.discount_form .discount_form_table .submit {
    text-align: center;
}

.discount_form .discount_form_table input {
    margin: 7px 10px;
}

.discount_form .discount_form_table p {
    margin: 3px;
}

/*----------------------------------------------------------------*/

/*-------form product----------------------------------------------*/

.product_form_wrapper {
    width: 100%;
    padding: 20px;
}
.product_form{
    font-size: 14px;
    margin: 0 auto;
    width: 700px;
    padding: 10px;
    background: #CCCCCC;
    border: 1px solid #737373;
}

.product_form #main_properties {
    border-spacing: 17px;
    width: 588px;
    margin: 0 auto;

}

.product_form #main_properties .error_tr td {
    height: 10px;
}

.product_form #main_properties input {
    height: 17px;
}

.product_form #main_properties #name_input {
    width: 329px;
}

.product_form #main_properties #stock_amount_input {
    width:  90px;
}

.product_form #main_properties #price_input {
    width: 100px;
}

.product_form #main_properties #articleNumber_input {
    width: 203px;
}

.product_form #main_properties #product_in-package {
    width: 90px;
}

.product_form textarea {
    padding: 0;
    margin: 0;
    border: 0;
}

.product_form #composition {
    padding: 15px 0 0 0;
    margin: 0 19px;

}

.product_form #description {
    padding: 15px 0 0 0;
    margin: 0 19px;
}

.product_form #full_description {
    padding: 0px 0px;
    margin: 0 19px;
}

.product_form #composition .composition_input {
    max-width: 100%;
    width: 100%;
    height: 80px;

}

.product_form #description .description_input {
    width: 100%;
    max-width: 100%;
    height: 80px;

}

.product_form #full_description .full_description_input {
    max-width: 100%;
    height: 120px;
    width: 100%;
}

.product_form .clear {
    clear: both;
}

.product_form #additional_properties {
    margin: 15px auto;
    border-spacing: 20px;
}
.product_form #additional_properties td {
    padding: 5px;
}

.product_form #additional_properties .product_category, .product_brand {
    width: 180px;
}

.product_form #additional_properties .product_form, .product_gender, .product_discount, {
    width: 90px;
}

.product_form #additional_properties .product_taste {
    width: 226px;
    height: 300px;
    overflow-x: scroll;
    padding: 5px;
}

.product_form #submit .submit {
    text-align: center;
}

.product_form .file {
    width: 150px;
}

.product_form .error {
    text-align: center;
    margin: 0;
    padding: 5px;
}
.product_form p{
    padding: 10px;
    margin: 5px;
}
.product_form #main_properties input{
    height: 23px;
}
/*------------------------------------------------------------------*/

/*------category form-------------------------------------------------*/

#category_form{
    padding: 30px;
}
#category_form #name {
    width: 300px;
    height: 25px;
    padding: 0px;
    margin-bottom: 10px;
}

#category_form #description {
    max-width: 400px;
    width: 300px;
    height: 300px;
    padding: 2px;
    margin-bottom: 10px;
}

#category_form table {
    margin: 0 auto;
    padding: 10px;
    background: #CCCCCC;
    border: 1px solid #737373;
}

#category_form table .submit {
    text-align: center;

}

#category_form table .submit #submit {
    margin: 10px;
    text-align: center;
}

#category_form table td{
    padding: 13px 20px 0px;
}

.category_form table #file {
    padding: 10px;
}

.category_form .hidden_id_input {
    width: 3px;
    height: 1px;
    visibility: hidden;
}

/*--------------------------------------------------------*/

/*-----Filter form---------------------------------------------------*/

.filterFormDiv {
    background: linear-gradient(#E4E4E4 0%, #ececec 100%);
}
.filterFormDiv form .form-title{
    color: #090A00;
    padding: 20px 0 0 0;
    text-align: center;
}
.filterFormDiv form ul {
    text-align: left;
    margin: 15px 2px 15px 35px;
}
.filterFormDiv form .price input[type=text] {
    width: 70px;
    height: 20px;
    background: #ADADAD;
    color: #f7f7f7;
    text-align: center;
    border: 1px solid #949494;
}

.filterFormDiv form .priceTitle {
    font-weight: bold;
    margin: 10px 0 6px 0;
    color: #060504;
}

.filterFormDiv form ul .ulTitle {
    text-indent: 33px;
    font-weight: bold;
    color: #060504;
}

.filterFormDiv form li {
    margin: 7px 0 7px 0;
}

.filterFormDiv form .submit {
    text-align: center;
    padding: 10px 0 20px 0;
    margin: 8px 0 0px;
}

.filterFormDiv form .price {
    margin: 10px 0 0 35px;

}
.filterFormDiv form .amount{
    font-size: 12px;
    color: #030402;
}


.filterFormDiv form .okButton {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font: inherit;
    color: #ffffff;
    background: #b3b3b3;
    padding: 5px 5px 5px 5px;
    border: solid #7a7a7a 1px;
    text-decoration: none;;
}

.filterFormDiv form .okButton:hover {
    background: #d9d9d9;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #d9d9d9, #edeff0);
    background-image: -moz-linear-gradient(top, #d9d9d9, #edeff0);
    background-image: -ms-linear-gradient(top, #d9d9d9, #edeff0);
    background-image: -o-linear-gradient(top, #d9d9d9, #edeff0);
    background-image: linear-gradient(to bottom, #d9d9d9, #edeff0);
    text-decoration: none;
}
/*--------------------------------------------------------------------*/

/*--checkBox && radioButton------------------------------------------*/
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 34px;
    margin-right: 0px;
    font-size: 14px;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    background-color: #9A9A9A;
    box-shadow: inset 0px 2px 3px 0px rgba(84, 35, 35, 0.3), 0px 1px 0px 0px #B1ACAC;
}

.radio label:before {
    border-radius: 8px;
}

.checkbox label {
    margin-bottom: 10px;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #F5F5F5;
    text-align: center;
    line-height: 15px;
}

/*--------------------------------------------------------------------------*/

/**------Sort filter form--------------------------------------*/
#sort_filter_form  {
    margin: 8px 3px 3px 20px;
    width: 300px;
}
#sort_filter_form form  {
    width: 287px;
}
#sort_filter_form form .sort_select_filter{
    float: left;
    padding: 5px;
    border-radius: 10px;
    border-color: #989595;
    outline: none;
    font-weight: 600;
    background: #CAC8C8;
    font-size: 18px;
    font-family: Calibri, sans-serif;
}
#sort_filter_form form .sort_select_filter:hover{
    cursor: pointer;
}
#sort_filter_form form .sort{
    font-size: 13px;
    padding: 7px;
    color: #797474;
}

#sort_filter_form form .submit{

}
#sort_filter_form form .submit input{
    margin-left: 12px;
    background: #abacad;
    background-image: -webkit-linear-gradient(top, #abacad, #757575);
    background-image: -moz-linear-gradient(top, #abacad, #757575);
    background-image: -ms-linear-gradient(top, #abacad, #757575);
    background-image: -o-linear-gradient(top, #abacad, #757575);
    background-image: linear-gradient(to bottom, #abacad, #757575);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #000000;
    font-size: 18px;
    padding: 4px 12px 3px 12px;
    text-decoration: none;
}

#sort_filter_form form .submit input:hover{
    background: #e0e0e0;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #d6d6d6);
    background-image: -moz-linear-gradient(top, #e0e0e0, #d6d6d6);
    background-image: -ms-linear-gradient(top, #e0e0e0, #d6d6d6);
    background-image: -o-linear-gradient(top, #e0e0e0, #d6d6d6);
    background-image: linear-gradient(to bottom, #e0e0e0, #d6d6d6);
    text-decoration: none;
    cursor: pointer;
}
#sort_filter_form form .checkBoxIsExistProduct{
    padding: 13px 0 0 0;
}
#sort_filter_form .checkBoxIsExistProduct  .checkBox {
    border: 2px solid black;
}
#sort_filter_form .checkBoxIsExistProduct label{
    font-size: 13px;
    padding: 2px 1px 1px 20px;
    color: #757070;
}
/*--------------------------------------------------------------------------------*/
