
/*----------------slider---------------------------*/
.slider-box{
    width:600px;
    height:300px;
    margin:20px auto;
    overflow:hidden;
}
.slider{
    position:relative;
    width:10000px;
    height:300px;
}
.slider img{
    float:left;
    z-index:0;
}
/*---------------------------------------------------*/
